{% assign pdf_url = nil %}
{% if pub.pdf_url %}
  {% assign pdf_url = pub.pdf_url %}
{% else %}
  {% if pub.arxiv_url %}
    {% assign pdf_url = pub.arxiv_url %}
  {% endif %}  
{% endif %}

{% assign auth_url = nil %}
{% if pub.publisher_url %}
  {% assign auth_url = pub.publisher_url %}
{% else %}
  {% if pub.doi_url %}
    {% assign auth_url = pub.doi_url %}
  {% endif %}  
{% endif %}

{% assign supplemental_url = nil %}
{% if pub.supplemental_url %}
  {% assign supplemental_url = pub.supplemental_url %}
{% endif %}

{% assign slide_url = nil %}
{% if pub.slide_url %}
  {% assign slide_url = pub.slide_url %}
{% endif %}

{% assign video_url = nil %}
{% if pub.video_url %}
  {% assign video_url = pub.video_url %}
{% endif %}

{% assign data_url = nil %}
{% if pub.data_url %}
  {% assign data_url = pub.data_url %}
{% endif %}

{% assign code_url = nil %}
{% if pub.code_url %}
  {% assign code_url = pub.code_url %}
{% endif %}

{% assign external_url = nil %}
{% if pub.project_url %}
  {% assign external_url = pub.project_url %}
{% endif %}

<tr class="pubentry">
  <td class="pubteaser">
    {% if pub.teaser_img %}
      <img src="{{ pub.teaser_img }}"/>
    {% else %}
      {{ pub.venue_abbrev }} {{ pub.year }}
    {% endif %}
  </td>
  <td class="pubinfo">
    <p><b>{{ pub.title }}</b></p>
    <p>{{ pub.authors }}{% if pub.thesis_type %} - {{ pub.thesis_type }}{% endif %}</p>
    {% if pub.venue %}
      <p>
      {% if pub.venue_url %}
        <a href="{{ pub.venue_url }}"><i>{{ pub.venue }}</i></a>, {{ pub.year }}.
      {% else %}
        <i>{{ pub.venue }}</i>, {{ pub.year }}.
      {% endif %}
      </p>
    {% endif %}
  </td>
  <td class="puburls">
    <table>
      <tr>
        <td>
          {% if pdf_url %}
            <a href="{{ pdf_url }}" target="_blank"><i class="fa fa-file-pdf withpuburl"></i></a>
          {% else %}
            <i class="fa fa-file-pdf withoutpuburl"></i>
          {% endif %}
        </td>
        <td>
          {% if auth_url %}
            <a href="{{ auth_url }}" target="_blank"><i class="fa fa-book-open withpuburl"></i></a>
          {% else %}
            <i class="fa fa-book-open withoutpuburl"></i>
          {% endif %}
        </td>
        <td>
            {% if supplemental_url %}
              <a href="{{ supplemental_url }}" target="_blank"><i class="fa fa-file-alt withpuburl"></i></a>
            {% else %}
              <i class="fa fa-file-alt withoutpuburl"></i>
            {% endif %}
          </td>
      </tr>
      <tr>
        <td>
          {% if slide_url %}
            <a href="{{ slide_url }}" target="_blank"><i class="fa fa-desktop withpuburl"></i></a>
          {% else %}
            <i class="fa fa-desktop withoutpuburl"></i>
          {% endif %}
        </td>
        <td>
          {% if video_url %}
            <a href="{{ video_url }}" target="_blank"><i class="fa fa-video withpuburl"></i></a>
          {% else %}
            <i class="fa fa-video withoutpuburl"></i>
          {% endif %}
        </td>
        <td>
          <i class="fa fa-link withoutpuburl">{% comment %}TODO render bibtex! {% endcomment %}</i>
        </td>
      </tr>
      <tr>
        <td>
        {% if data_url %}
            <a href="{{ data_url }}" target="_blank"><i class="fa fa-database withpuburl"></i></a>
        {% else %}
            <i class="fa fa-database withoutpuburl"></i>
        {% endif %}
        </td>
        <td>
          {% if code_url %}
            <a href="{{ code_url }}" target="_blank"><i class="fa fa-code withpuburl"></i></a>
          {% else %}
            <i class="fa fa-code withoutpuburl"></i>
          {% endif %}
        </td>
        <td>
          {% if external_url %}
            <a href="{{ external_url }}" target="_blank"><i class="fa fa-globe-americas withpuburl"></i></a>
          {% else %}
            <i class="fa fa-globe-americas withoutpuburl"></i>
          {% endif %}
        </td>
      </tr>
    </table>
  </td>
  </tr>